parameters:
    level: 5
    paths:
        - app
        - bootstrap
        - routes
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
        - database/factories

    # Laravel specific settings
    scanDirectories:
        - vendor/laravel/framework/src
   
